<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Landria</title>
    <!-- Favicon-->
    <link rel="icon" href="../img/logo.png" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Sweet alert 2 Plugin Css-->
    <link href="../css/sweetalert2.min.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="../css/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="../css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="../css/style_admin.css" rel="stylesheet">
</head>

<body class="login-page">
    <nav class="navbar navbar-dark bg-green">
        <span class="navbar-brand anton">Landria - Land Department Login</span>
    </nav>
    <div style="margin-top:15em;">
        <div class="login-box">
            <div class="card">
                <div class="body">
                    <form id="sign_in" method="POST" action="/admin/login">
                        <div class="h6" style="color: orange; text-align: center;">Login Page for Land Department</div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
                            <div class="form-line">
                                <input type="email" class="form-control" name="email" placeholder="Email Id" required
                                    autofocus>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock</i>
                            </span>
                            <div class="form-line">
                                <input type="password" class="form-control" name="password" placeholder="Password"
                                    required>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-block bg-green waves-effect" type="submit">SIGN IN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%  if(error != '') { %>
            <script type="text/javascript">var errorsPresent = true; var error = "<%= error %>"</script>
    <%  } else { %>
            <script type="text/javascript">var errorsPresent = false;</script>
    <%  } %>

    <!-- Jquery Core Js -->
    <script src="../js/jquery.min.js"></script>

    <!-- Sweet alert 2 Plugin Js-->
    <script src="../js/sweetalert2.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="../js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../js/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="../js/jquery.validate.js"></script>

    <!-- Custom Js -->
    <script src="../js/admin.js"></script>
    <script src="../js/sign-in.js"></script>

    <script type="text/javascript">
        if(errorsPresent == true) {
            Swal.fire({
                type: 'error',
                title: 'Incorrect Login!',
                text: error
            })
        }
    </script>
</body>

</html>