<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Landria | User Signup Page</title>
    <!-- Favicon-->
    <link rel="icon" href="../img/logo.png" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="../css/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="../css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="../css/style_admin.css" rel="stylesheet">

    <!-- Sweet alert 2 Plugin Css-->
    <link href="../css/sweetalert2.min.css" rel="stylesheet">
</head>

<body class="signup-page">
    <nav class="navbar navbar-dark bg-green">
        <span class="navbar-brand anton">Landria</span>
    </nav>
    <div style="margin-top:10em;">
        <div class="signup-box">
            <div class="card">
                <div class="body">
                    <form id="sign_up" method="POST" action="/users/register" enctype="multipart/form-data">
                        <div class="h5" style="color:orange; text-align:center;">Register a new membership</div>
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="firstName" placeholder="First Name"
                                            required autofocus>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="lastName" placeholder="Last Name"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">email</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="email" class="form-control" name="email" placeholder="Email Address"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">phone</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="mobilePhone" placeholder="Mobile Number"
                                        pattern="[6-9]{1}[0-9]{9}" required maxlength="10" minlength="10"
                                        title="Mobile number must be 10 digit number starting with 6, 7, 8 or 9">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="password" class="form-control" name="password" minlength="6"
                                            placeholder="Password" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="password" class="form-control" name="confirm" minlength="6"
                                            placeholder="Confirm Password" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">card_membership</i>
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control" name="aadhaarNumber"
                                placeholder="Aadhaar Number" pattern="[0-9]{12}"
                                maxlength="12" minlength="12"
                                title="Aadhar number must be a 12 digit number" required>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">attach_file</i>
                            </span>
                            <div class="form-line">
                                <input type="file" class="custom-file-input"
                                name="aadhaarFile" accept="application/pdf, image/*" required>
                                <label class="custom-file-label text-truncate" for="aadhar" required>Aadhaar Card Scan</label>
                            </div>
                        </div>
                        <!--                         
                        <div class="form-group">
                            <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                            <label for="terms">I read and agree to the <a href="javascript:void(0);">terms of usage</a>.</label>
                        </div>
                        -->
                        <button class="btn btn-block btn-lg bg-green waves-effect" type="submit">SIGN UP</button>

                        <div class="m-t-25 m-b--5 align-center">
                            <a href="../">You already have a membership?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <%  if(success == true) { %>
        <script type="text/javascript">
            var id = "<%= id %>";
            var errorsPresent = false;
        </script>
    <%  } else if(errors != "") { %>
        <script type="text/javascript">
            var id = "";
            var errors = "<%= errors %>";
            var errorsPresent = true;
        </script>
    <%  } %>

    <!-- Jquery Core Js -->
    <script src="../js/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="../js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../js/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="../js/jquery.validate.js"></script>

    <!-- Sweet alert 2 Plugin Js-->
    <script src="../js/sweetalert2.min.js"></script>

    <!-- Custom Js -->
    <script src="../js/admin.js"></script>
    <script src="../js/sign-up.js"></script>

    <script type="text/javascript">
        if(id != "") {
            Swal.fire({
                type: 'success',
                title: 'Registration successful!',
                text: 'Registered successfully! Your used id is' + id
            });
        }
        else if(errorsPresent === true) {
            Swal.fire({
                type: 'error',
                title: 'Registration could not be completed!',
                text: 'The following errors occured: ' + errors
            });
        }
    </script>
</body>

</html>